name: Build and Publish Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image (multi-platform)
        uses: docker/build-push-action@v5
        with:
          context: ./rm-bg
          file: ./rm-bg/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/${{ github.repository_owner }}/rmbg:latest
          provenance: false
          sbom: false

      - name: Cleanup old images
        uses: actions/delete-package-versions@v5
        with:
          package-name: "rmbg"
          package-type: "container"
          min-versions-to-keep: 5
          delete-only-untagged-versions: "false"
